<h3><u>Coffee List</u></h3>
<table class="table table-bordered  table-striped  table-hover table-responsive">
	<thead>
		<tr class="hidden-xs">
			<th>S. No.</th>
			<th>Coffee</th>
			<th>Size (Price)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ithCoffee in gvCoffeePriceList">
			<td>{{$index + 1}}</td>
			<td>{{ithCoffee.drink_name}}</td>
			<td ng-if="ithCoffee.variants.length">
				<div ng-repeat="ithVariant in ithCoffee.variants">
					<div style="display:flex;" ng-click="fnGetThisVariantInfo(ithCoffee, ithVariant)">
						<div>{{ithVariant.size}}</div>
						<div>&nbsp;</div>
						<div>({{ithVariant.price}} {{gvCurrency}})</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>